[user]
email = tom.suffern.wright@gmail.com
name = Tom Wright
username = tomwwright

[alias]
lg = log --all --oneline --graph --pretty=format:\"%C(yellow)%h %Cgreen%ad %Cblue%an%Cred%d %Creset%s\" --date=format:\"%d %b %H:%M\"

[core]
editor = code-insiders --wait
